.container
{
    width: 80%;
    margin: 70px auto;
}

.image
{
    height: 200px;
    display: flex;
    justify-content: center;
    margin: auto;
}
img
{
    width: 70%;
    height: 200px;
    max-width: 360px;
    margin: auto;
    background-color: #aaaaaa;
    color: azure;
    text-align: center;
}
h3
{
    margin: 50px 0;
}
span
{
    color: black;
    font-weight: 600;
}
ul
{
    margin-bottom: 20px;
}
