<div class="container" *ngIf="bike">
    <div class="row">
        <div class="image col-md-6">
            <img [src]="imgPath + bike.photo" alt="Изображение не найдено" />
        </div>
        <div class="features col-md-6">
            <h3>{{bike.name}}</h3>
            <h5>Характеристики:</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span>Тип: </span>{{bike.type}}</li>
                <li class="list-group-item"><span>Для кого: </span>{{bike.person}}</li>
                <li class="list-group-item"><span>Бренд: </span>{{bike.brand}}</li>
                <li class="list-group-item"><span>Диаметр колес: </span>{{bike.diameter}}</li>
                <li class="list-group-item"><span>Цена: </span>{{bike.price}}</li>
            </ul>
        </div>
    </div>
    <h5>Описание:</h5>
    <p>
        {{bike.description}}
    </p>
</div>
<app-comments></app-comments>

