.comments-container
{
    width: 55%;
    margin: 100px auto;
    min-width: 450px;
}
.comments
{
    margin: 50px 0;
}
.comment
{
    border: 1px solid #ced4da;
    margin-bottom: 20px;
    border-radius: .25rem;
    padding: 15px;
}
