img
{
    height: 200px;
    max-width: 360px;
    margin: auto;
    background-color: #aaaaaa;
    color: azure;
    text-align: center;
}
.card-body a
{
    margin: 20px 0;
}
span
{
    font-size: 13px;
}
