<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Цена:</label>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <input [(ngModel)]="minPrice" name="minPrice" type="text" class="form-control" id="inputCostFrom" placeholder="от:" />
                </div>
                <div class="form-group col-md-5">
                    <input  [(ngModel)]="maxPrice" name="maxPrice" type="text" class="form-control" id="inputCostTo" placeholder="до:" />
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Для кого:</label>
            <select class="form-control" name="company" [(ngModel)]="personId">
                <option [ngValue]=-1>Любой</option>
                <option  *ngFor="let person of people" [ngValue]="person.id">
                    {{person.type}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Диаметр колес:</label>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <input [(ngModel)]="minDiameter" name="minDiameter" type="text" class="form-control" id="inputDiameterFrom" placeholder="от:" />
                </div>
                <div class="form-group col-md-5">
                    <input [(ngModel)]="maxDiameter" name="maxDiameter" type="text" class="form-control" id="inputDiameterTo" placeholder="до:" />
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Бренд:</label>
            <select class="form-control" name="company" [(ngModel)]="brandId">
                <option [ngValue]=-1>Любой</option>
                <option  *ngFor="let brand of brands" [ngValue]="brand.id">
                    {{brand.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Тип:</label>
            <select class="form-control" name="company" [(ngModel)]="typeId">
                <option [ngValue]=-1>Любой</option>
                <option  *ngFor="let bikeType of bikeTypes" [ngValue]="bikeType.id">
                    {{bikeType.name}}
                </option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-dark" (click)="findBikesByFilter()">Подобрать</button>
</form>

